.block_static {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    justify-content: center;
   width: 1400px;
   margin-top: 40px;
   margin-bottom: 40px;
}
.info_statistic1:nth-child(1) {
    width: 300px;
    height: 300px;
    border-radius: 14px;
    background-color: rgb(209, 233, 252);
    margin: 10px;
    font-size: 1.875rem;
    color: rgb(6 27 100);
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
}
.info_statistic1:nth-child(2) {
    width: 300px;
    height: 300px;
    border-radius: 14px;
    background-color: rgb(208, 242, 255);
    margin: 10px;
    color:rgb(12, 83, 183);
    font-size: 1.875rem;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

}.info_statistic1:nth-child(3) {
    width: 300px;
    height: 300px;
    border-radius: 14px;
    background-color: rgb(255, 247, 205);
    margin: 10px;
    color: rgb(122, 79, 1);
    font-size: 1.875rem;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}.info_statistic1:nth-child(4) {
    width: 300px;
    height: 300px;
    border-radius: 14px;
    background-color: rgb(255, 231, 217);
    margin: 10px;
    color:rgb(122 12 46);
    font-size: 1.875rem;
   text-align: center;
   padding-top: 40px;
   padding-bottom: 40px;
}

