.block_static {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    justify-content: center;
    max-width: 1400px;
    font-style: 12px;
}

.info_statistic{
    width: 300px;
    height: 300px;
    border-radius: 14px;
    text-align: center;
    padding: 40px 0;
    margin: 10px;
}

.info_statistic:nth-child(1) {
    background-color: rgb(209, 233, 252);
    color: rgb(6 27 100);
}

.info_statistic:nth-child(2) {
    background-color: rgb(208, 242, 255);
    color:rgb(12, 83, 183);

}
.info_statistic:nth-child(3) {
    background-color: rgb(255, 247, 205);
    color: rgb(122, 79, 1);
}
.info_statistic:nth-child(4) {
    background-color: rgb(255, 231, 217);
    color:rgb(122 12 46);
}

.amount{
    font-style: 10px;
}

