.Main{
    /* background: linear-gradient(45deg, #7e8abd 30%, #09e8d5 90%); */
   background-color: rgb(249 250 251);
    min-height: 89.6vh;
    flex-grow: 1
    
}

.span_logo {
    color: rgb(6 27 100);
    font-size: 30px;
    font-weight: 600;
}